h1 {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0;
}
.fullDay {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    margin: 40px 0;
}
/* Buttons Nav */
.buttons {
    margin: 0 auto 20px;
    width: max(70vw, 1200px);
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.morning, .afternoon, .competitiveGroup, .combo {
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 200px;
}
.morning {
    border: 3px solid #eeaf26;
}
.morning:hover {
    font-weight: bold;
    background-color: #eeaf26;
    cursor: pointer;
}
.afternoon {
    border: 3px solid rgb(233, 104, 58);
}
.afternoon:hover {
    font-weight: bold;
    background-color: rgb(233, 104, 58);
    cursor: pointer;
}
.competitiveGroup {
    border: 3px solid #77c043;
}
.competitiveGroup:hover {
    font-weight: bold;
    background-color: #77c043;
    cursor: pointer;
}
.morning_active {
    background-color: #eeaf26;
    font-weight: bold;
}
.afternoon_active {
    background-color: rgb(233, 104, 58);
    font-weight: bold;
}
.competitiveGroup_active {
    background-color: #77c043;
    font-weight: bold;
}
/* Info */
.info {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 0 auto 20px;
    background-color: #eeaf26;
    border-radius: 20px;
    width: max(70vw, 1200px);
    padding: 40px 15px;
    transition: background-color 0.5s;
    transition-timing-function: ease;
}
.info-left {
    width: 50%;
}
.info-left h2 {
    font-size: 3rem;
    text-align: left;
    margin: 0;
    padding: 0;
}
.info-left p {
    margin-bottom: 5%;
    font-size: 1.1rem;
}
.info-left img {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.info-right {
    width: 35%;
}
.info-right h4 {
    font-size: 2rem;
    margin: 13px 0;
}
.info-right p {
    font-size: 1.2rem;
    margin: 7px 0;
    font-weight: 300;
}
.info-right .lunch {
    font-size: 1.5rem;
}
.info-right button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 200px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: 2px solid black;
}
@media (max-width: 767px) {
    h1 {
        font-size: 2.75rem;
    }
    .fullDay {
        font-size: 1.2rem;
        margin: 30px auto;
        width: 90%;
    }
    .info {
        width: calc(100% - 40px);
        flex-direction: column;
        margin: 0 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .info * {
        width: 100%;
    }
    .info-left, .info-left h2, .info-right h4, .info-right p {
        text-align: center;
    }
    .info-left h2 {
        font-size: 2.5rem;
    }
    .info-left img {
        width: 90%;
    }
    .buttons {
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .morning, .afternoon {
        font-size: 1.2rem;
    }
}
/* Gallery */
.gallery-title {
    margin: 50px 0;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 16px;
    padding: 20px 100px;
    margin: auto;
}
  
.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}  